:root {
  --cooldown-time: hsl(0, 75%, 50%); /* #DC4141 */
  --main-primary: hsl(60, 5%, 8%); /* #F5F0DF */
  --main-secondary: hsl(0, 0%, 60%); /* #C2AA70 */
  --grid-gap: 20px;
}

html,
body {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

* {
  font-family: "BeaufortforLOL", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 14px;
}
@media all and (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}
@media all and (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}

body {
  color: var(--main-medium);
  font-family: "BeaufortforLOL", sans-serif;
}

ul {
  list-style: none;
}

.flex-center {
  display: flex;

  align-items: center;
  justify-content: center;
}

.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

img {
  max-width: 100%;
}

.cooldown-timer {
  font-size: 10px;
  font-weight: bold;
  color: var(--cooldown-time);
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}
