:root {
  --cooldown-time: hsl(0, 75%, 50%); /* #DC4141 */
  --status-game-normal: hsl(202, 99%, 33%); /* #016AA7 */
  --status-game-light: hsl(202, 69%, 56%); /* #41A3DC */
  --status-active-normal: hsl(147, 99%, 33%); /* #02A64B */
  --status-active-light: hsl(147, 69%, 56%); /* #42DD88 */
  --status-away: hsl(0, 75%, 50%); /* #DC4141 */
  --status-unknown: hsl(0, 0%, 60%); /* #666666 */
  --main-primary: hsl(46, 52%, 92%); /* #F5F0DF */
  --main-secondary: hsl(42, 40%, 60%); /* #C2AA70 */
  --main-medium: hsl(42, 40%, 80%); /* #E0D4B8 */
  --main-dark: hsl(42, 16%, 44%); /* #C2AA70 */
  --main-background: hsl(60, 5%, 8%); /* #161614 */
  --main-background-transparent: hsla(218, 80%, 2%, 0.65); /* rgba(1, 4, 9, 0.65) */
  --main-background-transparent-dark: hsla(218, 80%, 2%, 0.85); /* rgba(1, 4, 9, 0.85) */
  --grid-gap: 20px;
  --topbar-height: 24px;
}

html,
body {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

* {
  font-family: "BeaufortforLOL", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 14px;
}
@media all and (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}
@media all and (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}

body {
  color: var(--main-medium);
  font-family: "BeaufortforLOL", sans-serif;
}

ul {
  list-style: none;
}

.flex-center {
  display: flex;

  align-items: center;
  justify-content: center;
}

.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

img {
  max-width: 100%;
}

.cooldown-timer {
  font-size: 10px;
  font-weight: bold;
  color: var(--cooldown-time);
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}
