:root {
  --topbar-height: 24px;
}
.window-controls {
  -webkit-app-region: drag;
  height: var(--topbar-height);
  z-index: 100;
  width: 100%;
  background: var(--main-background-transparent-dark);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  border: 1px solid var(--main-dark);
  border-bottom: 0;
}
.window-control {
  -webkit-app-region: none;
  color: var(--main-medium);
  border: none;
  width: calc(var(--topbar-height) * 1.5);
  height: var(--topbar-height);
  background: transparent;
  cursor: pointer;
}
.window-control > svg {
  width: 50%;
  height: auto;
}
.window-control > svg > rect,
.window-control > svg > path {
  stroke: currentColor;
  fill: var(--main-background);
}
.window-control:hover,
.window-control:focus {
  background: var(--main-dark);
}
.window-control:focus {
  color: var(--main-primary);
  outline: none;
}
.window-control:hover > svg > rect,
.window-control:hover > svg > path,
.window-control:focus > svg > rect,
.window-control:focus > svg > path {
  fill: var(--main-dark);
}
#unmaximize-button {
  display: none;
}
.window-maximized #unmaximize-button {
  display: flex !important;
}
.window-maximized #maximize-button {
  display: none;
}
